<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linpiao.webblogapplication.mapper.BlogCommentsMapper">

    <insert id="createByCommentLists" parameterType="java.util.Map">

        INSERT INTO BlogComments (Content, Created, UserName, PostId)
        VALUES
        <foreach collection="list1" item="content" index="index" separator=",">
            <!-- Ensure that the index is within the bounds of other lists -->
            <if test="index &lt; list2.size() and index &lt; list3.size() and index &lt; list4.size()">
                 (#{content}, #{list2[${index}]}, #{list3[${index}]}, #{list4[${index}]})
            </if>
        </foreach>
        ;
    </insert>

    <delete id="deleteByCommentLists">
        delete from BlogComments where CommentId in
        <foreach collection="commentIDList" item="commentID" separator="," open="(" close=")">
            #{commentID}
        </foreach>
    </delete>


    <resultMap id="blogCommentsResultMap" type="com.linpiao.webblogapplication.pojo.BlogComments">
        <id property="commentID" column="CommentId"/>
        <result property="content" column="Content"/>
        <result property="created" column="Created"/>
<!--        <result property="userName" column="UserName"/>-->
        <association property="blogUsers" javaType="com.linpiao.webblogapplication.pojo.BlogUsers">
            <id property="userName" column="UserName"/>
            <result property="firstName" column="FirstName"/>
            <result property="lastName" column="LastName"/>
            <result property="dob" column="DoB"/>
            <result property="statusLevel" column="StatusLevel"/>
        </association>

        <collection property="blogPosts" ofType="com.linpiao.webblogapplication.pojo.BlogPosts">
            <id property="postID" column="PostId"/>
            <result property="title" column="Title"/>
            <result property="picture" column="Picture"/>
            <result property="content" column="Content"/>
            <result property="published" column="Published"/>
            <result property="created" column="Created"/>
            <association property="blogUsers" javaType="com.linpiao.webblogapplication.pojo.BlogUsers">
                <id property="userName" column="UserName"/>
                <result property="firstName" column="FirstName"/>
                <result property="lastName" column="LastName"/>
                <result property="dob" column="DoB"/>
                <result property="statusLevel" column="StatusLevel"/>

            </association>
            <!-- Map other properties of BlogUsers if needed -->
            <!--            <result property="userName" column="UserName"/>-->
        </collection>
    </resultMap>




    <select id="getBlogCommentByCommentID" resultMap="blogCommentsResultMap">
        select
        a.CommentId,  a.Content,  a.Created, b.UserName, b.FirstName, b.LastName, b.DoB, b.StatusLevel, c.PostId, c.Title
        from
        (select CommentId, Content, Created, UserName, PostId
        from BlogComments
        where CommentId= #{commentID}
        )a
        left join
        (select
        BlogUsers.UserName, Persons.FirstName, Persons.LastName, BlogUsers.DoB, BlogUsers.StatusLevel
        from BlogUsers inner join Persons
        on BlogUsers.UserName=Persons.UserName)b on a.UserName=b.UserName
        LEFT JOIN
        (select
        PostId, Title
        from BlogPosts)c on a.PostId=c.PostId;
    </select>

    <!-- Define the select statement -->
    <select id="getBlogCommentsByBlogUser" resultMap="blogCommentsResultMap">
        select
        a.CommentId,  a.Content,  a.Created, b.UserName, b.FirstName, b.LastName, b.DoB, b.StatusLevel, c.PostId, c.Title
        from
        (select CommentId, Content, Created, UserName, PostId
        from BlogComments
        where UserName= #{userName}
        )a
        left join
        (select
        BlogUsers.UserName, Persons.FirstName, Persons.LastName, BlogUsers.DoB, BlogUsers.StatusLevel
        from BlogUsers inner join Persons
        on BlogUsers.UserName=Persons.UserName)b on a.UserName=b.UserName
        LEFT JOIN
        (select
        PostId, Title
        from BlogPosts)c on a.PostId=c.PostId;
    </select>


    <select id="getBlogCommentsByBlogPost" resultMap="blogCommentsResultMap">
        select
        a.CommentId,  a.Content,  a.Created, b.UserName, b.FirstName, b.LastName, b.DoB, b.StatusLevel, c.PostId, c.Title
        from
        (select CommentId, Content, Created, UserName, PostId
        from BlogComments
        where PostId= #{postID}
        )a
        left join
        (select
        BlogUsers.UserName, Persons.FirstName, Persons.LastName, BlogUsers.DoB, BlogUsers.StatusLevel
        from BlogUsers inner join Persons
        on BlogUsers.UserName=Persons.UserName)b on a.UserName=b.UserName
        LEFT JOIN
        (select
        PostId, Title
        from BlogPosts)c on a.PostId=c.PostId;
    </select>


</mapper>