<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linpiao.webblogapplication.mapper.BlogPostsMapper">

    <insert id="createByPostIDLists" parameterType="java.util.Map">

        INSERT INTO BlogPosts (Title, Picture, Content, Published, Created, UserName)
        VALUES
        <foreach collection="list1" item="title" index="index" separator=",">
            <!-- Ensure that the index is within the bounds of other lists -->
            <if test="index &lt; list2.size() and index &lt; list3.size() and index &lt; list4.size() and index &lt; list5.size() and index &lt; list6.size()">
                 (#{title}, #{list2[${index}]}, #{list3[${index}]}, #{list4[${index}]}, #{list5[${index}]}, #{list6[${index}]})
            </if>
        </foreach>
        ;
    </insert>

    <delete id="deleteByPostIDLists">
        delete from BlogPosts where PostID in
        <foreach collection="postIDList" item="postID" separator="," open="(" close=")">
            #{postID}
        </foreach>
    </delete>

<!--    <select id="selectWithParams" resultType="com.linpiao.webblogapplication.pojo.BlogPosts">-->
<!--        select * from BlogPosts-->
<!--        <where>-->
<!--        <if test="name !=null and name !=''">-->
<!--            UserName like concat('%', #{name}, '%')-->
<!--        </if>-->
<!--        <if test="beginDate !=null and endDate !=null">-->
<!--            and Created between #{beginDate} and #{endDate}-->
<!--        </if>-->
<!--        </where>-->
<!--         order by PostID desc-->
<!--    </select>-->

    <resultMap id="blogPostsResultMap" type="com.linpiao.webblogapplication.pojo.BlogPosts">
        <id property="postID" column="PostId"/>
        <result property="title" column="Title"/>
        <result property="picture" column="Picture"/>
        <result property="content" column="Content"/>
        <result property="published" column="Published"/>
        <result property="created" column="Created"/>
        <association property="blogUsers" javaType="com.linpiao.webblogapplication.pojo.BlogUsers">
            <id property="userName" column="UserName"/>
            <result property="firstName" column="FirstName"/>
            <result property="lastName" column="LastName"/>
            <result property="dob" column="DoB"/>
            <result property="statusLevel" column="StatusLevel"/>

        </association>
    </resultMap>

    <!-- Define the select statement -->
    <select id="getBlogPostsByBlogUser" resultMap="blogPostsResultMap">
        select PostId, Title, Picture, Content, Published, Created,  BlogUsers.UserName, Persons.FirstName, Persons.LastName, BlogUsers.DoB, BlogUsers.StatusLevel
        from BlogPosts Inner Join BlogUsers, Persons
        where BlogPosts.UserName = BlogUsers.UserName and BlogUsers.UserName = Persons.UserName and BlogPosts.UserName = #{userName};
    </select>


    <select id="getBlogPostByPostID" resultMap="blogPostsResultMap">
        select
        a.PostId, a.Title, a.Picture, a.Content, a.Published, a.Created, b.UserName, b.FirstName, b.LastName, b.DoB, b.StatusLevel
        from
        (select PostId, Title, Picture, Content, Published, Created,  UserName
        from BlogPosts
        where PostId= #{postID}
        )a
        left join
        (select
        BlogUsers.UserName, Persons.FirstName, Persons.LastName, BlogUsers.DoB, BlogUsers.StatusLevel
        from BlogUsers inner join Persons on BlogUsers.UserName = Persons.UserName)b on a.UserName=b.UserName;
    </select>



</mapper>