<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linpiao.webblogapplication.mapper.BlogCommentsMapper">

    <insert id="createByCommentLists" parameterType="java.util.Map">

        INSERT INTO BlogComments (Content, Created, UserName, PostId)
        VALUES
        <foreach collection="list1" item="content" index="index" separator=",">
            <!-- Ensure that the index is within the bounds of other lists -->
            <if test="index &lt; list2.size() and index &lt; list3.size() and index &lt; list4.size()">
                 (#{content}, #{list2[${index}]}, #{list3[${index}]}, #{list4[${index}]})
            </if>
        </foreach>
        ;
    </insert>

    <delete id="deleteByCommentLists">
        delete from BlogComments where CommentId in
        <foreach collection="commentIDList" item="commentID" separator="," open="(" close=")">
            #{commentID}
        </foreach>
    </delete>


    <resultMap id="blogCommentsResultMap" type="com.linpiao.webblogapplication.pojo.BlogComments">
        <id property="commentID" column="CommentId"/>
        <result property="content" column="Content"/>
        <result property="created" column="Created"/>
        <association property="blogUsers" javaType="com.linpiao.webblogapplication.pojo.BlogUsers">
            <id property="userName" column="UserName"/>
            <!-- Map other properties of BlogUsers if needed -->
            <!--            <result property="userName" column="UserName"/>-->
        </association>
        <association property="blogPosts" javaType="com.linpiao.webblogapplication.pojo.BlogPosts">
            <id property="postID" column="PostId"/>
            <!-- Map other properties of BlogUsers if needed -->
            <!--            <result property="userName" column="UserName"/>-->
        </association>
    </resultMap>

    <select id="getBlogCommentByCommentID" resultMap="blogCommentsResultMap">
        select  CommentId, Content, Created, UserName, PostId
        from BlogComments
        where BlogComments.CommentId= #{commentID}
    </select>

    <!-- Define the select statement -->
    <select id="getBlogCommentsByBlogUser" resultMap="blogCommentsResultMap">
        select CommentId, Content, Created, UserName, PostId
        from BlogComments
        where BlogComments.UserName = #{userName}
    </select>


    <select id="getBlogCommentsByBlogPost" resultMap="blogCommentsResultMap">
        select  CommentId, Content, Created, UserName, PostId
        from BlogComments
        where BlogComments.PostId= #{postID}
    </select>


</mapper>