<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linpiao.webblogapplication.mapper.ResharesMapper">

    <insert id="createByReshareLists" parameterType="java.util.Map">

        INSERT INTO Reshares (Created, UserName, PostId)
        VALUES
        <foreach collection="list1" item="created" index="index" separator=",">
            <!-- Ensure that the index is within the bounds of other lists -->
            <if test="index &lt; list2.size() and index &lt; list3.size() ">
                 (#{created}, #{list2[${index}]}, #{list3[${index}]})
            </if>
        </foreach>
        ;
    </insert>

    <delete id="deleteByReshareLists">
        delete from Reshares where ReshareId in
        <foreach collection="reshareIDList" item="reshareID" separator="," open="(" close=")">
            #{reshareID}
        </foreach>
    </delete>


    <resultMap id="resharesResultMap" type="com.linpiao.webblogapplication.pojo.Reshares">
        <id property="reshareID" column="ReshareId"/>
        <result property="created" column="Created"/>
        <association property="blogUsers" javaType="com.linpiao.webblogapplication.pojo.BlogUsers">
            <id property="userName" column="UserName"/>
            <!-- Map other properties of BlogUsers if needed -->
        </association>
        <association property="blogPosts" javaType="com.linpiao.webblogapplication.pojo.BlogPosts">
            <id property="postID" column="PostId"/>
            <!-- Map other properties of BlogUsers if needed -->
        </association>
    </resultMap>

    <select id="getReshareByReshareID" resultMap="resharesResultMap">
        select ReshareId, Created, UserName, PostId
        from Reshares
        where ReshareId= #{reshareID}
    </select>

    <!-- Define the select statement -->
    <select id="getBlogResharesByBlogUser" resultMap="resharesResultMap">
        select ReshareId, Created, UserName, PostId
        from Reshares
        where UserName= #{userName}
    </select>

</mapper>